.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
.idea/
*.iml
*.iws
.vscode/
.DS_Store
Thumbs.db
.git/
.gitignore
Dockerfile
docker-compose.yml
.dockerignore
*.log

src/main/resources/application-dev.properties
src/main/resources/application-local.properties