# Database
POSTGRES_DB=syncapi_db
POSTGRES_USER=syncapi_user
POSTGRES_PASSWORD=

# JWT
JWT_SECRET=
JWT_EXPIRATION=86400000

# pgAdmin
PGADMIN_DEFAULT_EMAIL=admin@syncapi.com
PGADMIN_DEFAULT_PASSWORD=admin